*, * + * {
    padding: 0;
    margin: 0;
    font-weight: 700
}

body {
    width: 100%;
    height: 660px;
}

.timer-block {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 2rem
}