*, * + * {
    padding: 0;
    margin: 0;
    font-weight: 700
}

body {
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row
}

article {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2rem
}

article > span {
    border-bottom: 1px solid #d6d6d6
}